@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mont)
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.resp-px {
  @apply px-5 sm:px-[60px] 2xl:px-[100px];
}

@layer utilities {
  .section-wrap {
    @apply mx-auto w-full sm:max-w-[1728px];
  }
}